!!! 5
%html
  %head
    %title Caya
    %link{rel: 'stylesheet', href: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'}
  %body
    %div{class: 'header'}
      %div{class: 'container'}
        %h1 Welcome to Caya
    %div{class: 'content'}
      %div{class: 'container'}
        = yield
    %div{class: 'footer'}
      %div{class: 'container'}
        Find us on facebook
        %a{href: '#'} here
