!!! 5
%html
  %head
    %title Caya
    %meta{name: 'viewport', content: 'width=320, initial-scale=1'}
    %link{rel: 'stylesheet', href: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'}
    %link{rel: 'stylesheet', href: 'style.css'}
    %link{rel: 'stylesheet', href: 'http://fonts.googleapis.com/css?family=Cyreal'}
    %script{src: 'google-analytics.js'}
  %body
    %div{class: 'header'}
      %div{class: 'container'}
        %div{class: 'col-md-12'}
          %a{href: '/'} Caya
    %div{class: 'content'}
      %div{class: 'container'}
        %div{class: 'col-md-12'}
          = yield
    %div{class: 'footer'}
      %div{class: 'container'}
        %div{class: 'col-md-12'}
          Find us on facebook
          %a{href: '#'} here
