%div{class: 'row mobile_nav visible-xs'}
  %div{class: 'container'}
    %div{class: 'col-md-12'}
      %ul{class: 'nav nav-pills nav-stacked'}
        %li{role: 'presentation'}
          %a{href: '/'} Home
        %li{role: 'presentation'}
          %a{href: '/single_check'} Single Check
        %li{role: 'presentation'}
          %a{href: '/multi_check'} Multi Check
