%div{class: 'description'}
  多張統一發票 <br/>
  Numbers Multi Check
%form{action: '/multi_check', method: 'post', class: 'form-group'}
  %div{class: 'form-group'}
    %select{name: 'period', class: 'form-control'}
      %option{value: '11-12/2016'} 105年11-12月
      %option{value: '09-10/2016'} 105年09-10月
      %option{value: '07-08/2016'} 105年07-08月
      %option{value: '05-06/2016'} 105年05-06月
      %option{value: '03-04/2016'} 105年03-04月
      %option{value: '01-02/2016'} 105年01-02月
      %option{value: '11-12/2015'} 104年11-12月
      %option{value: '09-10/2015'} 104年09-10月
      %option{value: '07-08/2015'} 104年07-08月
      %option{value: '05-06/2015'} 104年05-06月
      %option{value: '03-04/2015'} 104年03-04月
  %div{class: 'form-group'}
    %div{class: 'row'}
      %div{class: 'col-xs-12'}
        %textarea{name: 'numbers', rows: '3', class: 'form-control', placeholder: '像 12345678, 90123456, 78901234, 等等'}
  %div{class: 'form-group'}
    %input{type: 'submit', class: 'btn btn-primary', value: '送出'}
- if @results
  - @results.each do |x, y|
    %p #{y} with #{x}
- if @result
  %p #{@result}
