%div{class: 'description'}
  多張統一發票 <br/>
  Numbers Multi Check
%form{action: '/multi_check', method: 'post', class: 'form-group'}
  %div{class: 'form-group'}
    %select{name: 'period', class: 'form-control'}
      %option{value: '01-02/2015'} 104年01-02月
      %option{value: '11-12/2014'} 103年11-12月
      %option{value: '09-10/2014'} 103年09-10月
      %option{value: '07-08/2014'} 103年07-08月
      %option{value: '05-06/2014'} 103年05-06月
      %option{value: '03-04/2014'} 103年03-04月
      %option{value: '01-02/2014'} 103年01-02月
      %option{value: '11-12/2013'} 102年11-12月
      %option{value: '09-10/2013'} 102年09-10月
      %option{value: '07-08/2013'} 102年07-08月
  %div{class: 'form-group'}
    %div{class: 'row'}
      %div{class: 'col-xs-12'}
        %textarea{name: 'numbers', rows: '3', class: 'form-control', placeholder: '12345678, 90123456, 78901234, ...'}
  %div{class: 'form-group'}
    %input{type: 'submit', class: 'btn btn-primary', value: '送出'}
- if @results
  - @results.each do |x, y|
    %p #{y} with #{x}
- if @result
  %p #{@result}
