%ul{class: 'nav nav-pills'}
  %li{role: 'presentation'}
    %a{href: '/'} Home
  %li{role: 'presentation'}
    %a{href: '/single_check'} Single Check
  %li{role: 'presentation'}
    %a{href: '/multi_check'} Multi Check
